extends layout

block content
	form#formData.form-horizontal.m-t-20(method="post")
		.control-group
			.controls
				input#username.input-xlarge(type="text", name="username", placeholder="请输入用户名")
		.control-group
			.controls
				input#password.input-xlarge(type="password", name="password",placeholder="请输入密码")
		.control-group
			.controls
				input#password-repeat.input-xlarge(type="password", name="password-repeat", placeholder="请确认密码")
		.form-actions
			a#submitBtn.btn.btn-primary(type="a") 提交
			